@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./bg.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  background-image: url("/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.egypt-bg {
  background-image: url("/egypt.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.nft-bg {
  background-image: url("/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  font-family: SFRounded, ui-rounded, "SF Pro Rounded", -apple-system,
    "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 700px;
  margin: 0 auto;
  overflow-y: scroll;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  display: flex;
  width: 100%;
}

.button {
  appearance: none;
  border: none;
  font-family: SFRounded, ui-rounded, "SF Pro Rounded";
  background-image: linear-gradient(to right, #3898ff, #7a70ff);
  display: inline-flex;
  line-height: 1;
  font-size: 16px;
  font-weight: 700;
  height: 35px;
  padding: 0 24px;
  border-radius: 9999px;
  align-items: center;
  color: white;
  transition: all ease 100ms;
}

button:not(:disabled):hover {
  transform: scale(1.04);
}

button[data-mint-loading="true"] {
  background: rgba(22, 25, 31, 0.24);
}

button[data-mint-started="true"] {
  background-image: linear-gradient(270deg, #ff6257, #ff5ca0);
  position: relative;
}

button[data-mint-started="true"]::after {
  animation-name: pulse;
  animation-duration: 500ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  background-color: #ff6257;
  border-radius: inherit;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

button[data-mint-done="true"] {
  opacity: 0;
  transform: scale(0.85);
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}
a {
  color: inherit;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: "100%";
  }
}

.canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

@font-face {
  font-family: "Blue Goblet";
  src: url(/fonts/BlueGoblet/BlueGoblet-Regular.otf) format("opentype");
}

.goblet {
  font-family: "Blue Goblet";
}

.stroke {
  color: black;
  -webkit-text-stroke: 1px #269186;
  text-stroke: 1px #269186;
}

.video-container {
  /* width is set as 100% here. any width can be specified as per requirement */
  width: 100vw;
  padding-top: 56.25%;
  height: 0px;
  position: relative;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
